.background{
    height: auto;
    width: 100%;
    background-color: #000000;
    top: -5;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    color: white;
    z-index: 10;
}
.top-section{
    border-bottom: 1px solid white;
    width: 100%;
    height: 100px;
    overflow:hidden;
    text-align: center;
    z-index: 10;
    position: relative;
}
.side-modal{
    width: 20%;
    height: 440px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 3%;
    background-color: #5c5c5c57;
    margin-left: 20px;
    z-index: 10;
    position: relative;
}
.side-icon-section{
    float: right;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    margin-top: -444px;
    margin-right: 19px;
    height: 300px;
    width: 50px;
    text-align: center;
    z-index: 10;
    position: relative;
}
.side-icon-section i{
    padding-top: 20px;
    z-index: 10;
    position: relative;
}